*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
span{
    color: #E55473;
}
/* Banner section */
.banner{
    width: 100vw;
    height: 850px;
    background-color: #FCEEF1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 96px;
}
.introduction{
    width: 708px;
    height:506px;
    text-align:start;
    padding: 20px;
}
.intro-h1{
    font-size: 70px;
    margin-bottom: 50px;
}
.intro-p{
    font-size: 20px;
    color:  rgb(128, 114, 114);
    margin-bottom: 50px;
}
.btn{
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #E55473;
    color: white;
    font-size: 22px;
    font-weight: 500;
}
.flower{
    width: 635px;
    height: 800px;
    margin-top: 50px;
}
/* Banner END */
/* Start Feature section */
.feature{
    width: 594px;
    height: 132px;
    margin-left: 663px;
    text-align: center;
    margin-top: 150px;
}
.feature-h1{
    font-size: 40px;
    margin-bottom: 20px;
}
.feature-p{
    font-size: 20px;
    color: rgb(128, 114, 114);
}
.feature-flower{
    width: 1440px;
    height: 605px;
    margin: 70px 240px 100px 240px;
    /* margin-left: 240px;
    margin-bottom: 100px; */
    display: flex;
    justify-content: space-between;
}
.flower-photo{
    width: 464px;
    height: 605px;
    text-align: center;
    border-radius:230px 230px 0px 0px;
}
.color1{
    background-color:  rgba(167, 33, 98, 0.15);
}
.color2{
    background-color:   rgba(5, 151, 160, 0.15);
}
.color3{
    background-color:  rgba(71, 125, 17, 0.15);
}
.photos{
    width: 364px;
    height: 530px;
    padding-top: 10px;
  
}
.f-h3{
    background-color: white;
    height: 72px;
    padding: 20px;
    text-decoration: underline;
    color: rgb(59, 50, 50);
}
.feature-icon{
    width: 1420px;
    height: 320px;
    margin-left: 240px;
    background-color: aquamarine;
    margin-bottom: 100px;
}
/* end of feature */
/* sign up section */
.sign-up{
    width: 100vw;
    height: 620px;
    background-color: #FCEEF1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-bottom: 100px;
}
.sign-text{
    width: 594px;
    height: 228px;
    margin-left: 395px;
    text-align: center;
}
.sign-photo{
    width: 318px;
    height: 420px;
    margin-right: 429px;
}
.sign-h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.btn2{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
     background-color: #E55473;
     color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
}
